.jumbotron{
  background-image: url(../images/donut_header.jpg);;
  background-size: cover;
  color: white;
}
.all_my_headers{
color: white
}
h3{font-family: 'Pacifico', cursive;}

.bob{font-family: 'Pacifico', cursive;}

.row{margin-bottom: 20px}

#nav{
  display: block;
  margin: 0
  padding: 0px;
  background-color: grey;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
}
