.jumbotron{
  background-image: url(../images/donut_header.jpg);;
  background-size: cover;
  color: white;
}
.all_my_headers{
color: white
}
h3{font-family: 'Pacifico', cursive;}

.bob{font-family: 'Pacifico', cursive;}

.row{margin-bottom: 20px}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}
li{
  float:left;
}

li a{
  display: block;
  color; text-align: left;
  padding: 14px 16px;
}
